#root-container {
  width: max-content;
}

#title {
  font-size: 18px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.separator {
  margin: 0px 10px 0px 10px;
  height: 2px;
  background-color: rgb(218, 211, 211);
  border-radius: 1px;
}
